header{ 
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
   h1{
    color:blue;
    margin: $margen-h1;
   }
      .imagenLogo{
        margin: 2em;
	    width: 40%;

   }

}
